streamlit
pandas # pip сам подберет совместимую с numpy
plotly
scikit-learn # pip сам подберет совместимую с numpy
pmdarima # pip сам подберет совместимую с numpy/scipy
matplotlib
numpy==1.23.5
scipy==1.10.1 # или другая, совместимая с numpy 1.23.5
statsmodels
